<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header.html::userHead">
</head>
<script th:src="@{/js/fetchDSL.js}" defer></script>
<body>
<div th:replace="layout/top.html::header"></div>
<div class="container text-center">
    <div class="login-form d-flex justify-content-center">
        <div class="col-sm-5" style="margin-top: 30px;">
            <div class="panel">
                <p>아이디와 비밀번호를 입력해주세요</p>
            </div>
            <div th:if="${param.error}" class="form-group">
                <span th:text="${exception}" class="alert alert-danger"></span>
            </div>
            <form th:action="@{/login_proc}" class="form-signin" method="post">
                <input type="hidden" th:value="secret" name="secret_key" id="secret_key">
                <div class="form-group">
                    <input type="text" class="form-control" name="username" id="username" placeholder="아이디" required
                           autofocus/>
                    <div id="usernameFeedback"></div>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" id="password" placeholder="비밀번호"
                           required/>
                    <div id="passwordFeedback"></div>
                </div>
                <button type="button" onclick="ajaxLogin()" class="btn btn-1g btn-primary btn-block">로그인</button>

            </form>
        </div>
    </div>
</div>
<script>
    function formLogin() {

        const csrfHeader = document.querySelector('#_csrf_header').content;
        const csrf = document.querySelector('#_csrf').content;
        const header = {
            [csrfHeader]: csrf,
            contentType: 'application/x-www-form-urlencoded'
        };


        fetchDsl
            .post()
            .url('/login_proc')
            .headers(header)
            .form('username', 'password', 'secret_key')
            .then(response => {
                if (!response.ok || response.url.includes('error')) {
                    throw response;
                }
                alert('로그인에 성공하였습니다.');
                response.redirected ? window.location = response.url : window.location = '/';
            }).catch(response => {
            alert('로그인에 실패하였습니다.');
            window.location = response.url;
        });
    }


    async function ajaxLogin() {

        const csrfHeader = document.querySelector('#_csrf_header').content;
        const csrf = document.querySelector('#_csrf').content;
        const header = {
            [csrfHeader]: csrf,
            contentType: 'application/x-www-form-urlencoded',
            'X-Requested-With': 'XMLHttpRequest'
        };

        fetchDsl
            .post()
            .url('/api/login')
            .headers(header)
            .json('username', 'password')
            .then(response => {
                alert('로그인에 성공하였습니다.');
                window.location = '/';
            })
            .catch(error => {
                if (error.message === 'empty') {

                } else {
                    alert('로그인에 실패하였습니다.');
                    window.location = '/login?error=true&exception=' + error.json;
                }
            });
    }
</script>
</body>
</html>